.CardImg {
    /* border: 1px solid #aaaaaa; */
    width: 48%;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5px;
    /* padding-bottom: 3px; */
    background-position: center center;
    object-fit: cover;
    background-size: cover;
    border-radius: 3px;
    /* filter: brightness(90%); */
}

.CardImg h5 {
    position: absolute;
    background: rgba(192, 192, 192, 0.8);
    padding: 5px;
}