.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    /* border: 1px solid red; */
    background-color: rgb(28, 78, 172);
    border-bottom: 1px solid #d5d5d5;
    z-index: 9;
}

.nav-container svg {
    font-size: 43px;
    margin: 7px;
    color: #fff
}

.nav-container .UserImg {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin: 10px;
}
.nav-container .logo{
    width: auto;
    height: 100%;
}

.UserInfo {
    position: absolute;
    left: 0;
    top: 60px;
    padding: 10px;
    width: auto;
    height: auto;
    background: rgb(28, 78, 172);
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: 1; */
    /* transition: opacity 500ms ease-in, display 600ms ease; */
}

.UserInfo.active {
    /* opacity: 0; */
    display: none;
}

.UserInfo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__link{
    width: 211px;
}

.Menu__icon{
    width: 50px;
}

.Menu {
    position: absolute;
    background: rgb(39, 102, 196);
    width: 60%;
    height: 100vh;
    right: 0;
    top: 60px;
    transition: 500ms;

}

.Menu h4 {
    text-align: center;
    color: #fff;
}

.Menu a {
    text-decoration: none;
}

