.UserInfo {
    position: absolute;
    left: 0;
    top: 60px;
    width: 0;
    min-height: 90px;
    background: rgb(39, 102, 196);
    border-bottom-right-radius: 15px;
    text-align: center;
    opacity: 0;
    transition: ease-in-out 500ms;
}
.UserInfo h4{
    margin: 5px 2px;
    color: white;

}
.UserInfo>a {
    width: 0
}

.UserInfo.active>a {
    width: 100%;
}

.UserInfo.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    opacity: 1;
    text-align: center;
}
