.Itineraries{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}
.Itineraries__nav{
    display: flex;
    flex-direction: row;
}
.Itineraries__nav h3, button{
    margin: 0 2px;
}

.Itineraries__container{
    display: flex;
    flex-direction: column;
}