@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  max-width: 500px;
  width: 100%;
}