.Itinerary__item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: 500ms;
  background-color: rgb(255, 255, 255);
  color: #000;
  border-radius: 10px;
  margin-bottom: 10px;
  height: auto;
  position: relative;
}
.Itinerary__card {
  display: flex;
  padding: 10px 3px;
  height: 105px;
}

.Itinerary__card > svg {
  font-size: 35px;
}

.Itinerary__profile {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.Itinerary__profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.Itinerary__profile p {
  margin-top: 3px;
  font-size: 14px;
}

.Itinerary__info {
  display: flex;
  flex-direction: column;
  width: 55%;
  cursor: pointer;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.Itinerary__info h4,
p {
  margin: 0;
}
.Itinerary__hastag {
  display: flex;
  flex-wrap: wrap;
}
.Itinerary__hastag span {
  color: rgb(28, 78, 172);
  font-weight: bold;
}
.Itinerary__hastag p {
  margin-left: 5px;
  color: rgb(28, 78, 172);
}

.Itineary__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Itineary__data svg {
  font-size: 20px;
  position: relative;
  bottom: 0;
}

.Itinerary__activities {
  width: 100%;
  height: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 400ms;
}

.Itinerary__activities h4 {
  margin: 5px 0;
}

.Itinerary__activities__slider {
  display: flex;
  align-items: flex-start;
  max-width: 476px;
  width: 100%;
  height: 405px;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  position: absolute;
  bottom: 30px;
}

.Itinerary__activities__slider::-webkit-scrollbar {
  /* display: none; */
}


.Itinerary__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 30px;
  background-color: rgb(28, 78, 172);
  color: white;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: 0;
}

.AlertAuth {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 500ms ease-in-out;
  z-index: 2;
}

.AlertAuth .AlertAuth__btn {
  background: rgb(176, 102, 254);
  background: -moz-linear-gradient(
    60deg,
    rgba(176, 102, 254, 1) 0%,
    rgba(99, 226, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    60deg,
    rgba(176, 102, 254, 1) 0%,
    rgba(99, 226, 255, 1) 100%
  );
  background: linear-gradient(
    60deg,
    rgba(176, 102, 254, 1) 0%,
    rgba(99, 226, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b066fe",endColorstr="#63e2ff",GradientType=1);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}
