.Itineraries{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    margin-bottom: 58px;
}
.Itineraries__nav{
    margin: 0 auto;
    padding: 5px 10px;
}
.Itineraries__nav h3{
    margin: 0 2px;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 22px;
}

.Itineraries__container{
    display: flex;
    min-height: 400px;
    flex-direction: column;
    padding: 0 12px;
    height: auto;
}